[Unit]
StartLimitIntervalSec=0    
Wants=home-assistant.service
After=home-assistant.service

[Service]
ExecStart=/usr/bin/autossh -M 20000 -f -N -R 8123:127.0.0.1:8123 -R 2200:127.0.0.1:22 spbear@spbear.com
Restart=always
RestartSec=60
StandardOutput=syslog
StandardError=syslog
User=homeassistant
Group=homeassistant
KillMode=process

[Install]
WantedBy=multi-user.target
